<p id="notice"><%= notice %></p>

<p>
  <b>Ingredient:</b>
  <%= @recipe.ingredient_id %>
</p>

<p>
  <b>Smoothie:</b>
  <%= @recipe.smoothie_id %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
