<!DOCTYPE html>
<html>
<head>
  <title>Rorsmoothies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav">
  <h1>RoR-Smoothies</h1>

  <div id="navleft">
      <%= link_to "Smoothies", smoothies_path %> |
      <%= link_to "Users", users_path %> |
      <%= link_to "Ingredients", ingredients_path%> |
      <%= link_to "Search", search_path%>
    <% if !current_user.nil?%>
       | <%= link_to 'Post new smoothie', new_smoothie_path %> <br/> <br/>

  <%end%>
    <% if current_user.nil? %>

   | <%= link_to "Register", new_user_path %>
        <%end%>
  </div>
  <div id="navright">

  <% if current_user.nil? %>


        <%= form_tag sessions_path do %>
            <span class="login-error"><%= notice %></span>


            username <%= text_field_tag :username, params[:username] %>
          password <%= password_field_tag :password, params[:password] %>
          <%= submit_tag "Log in" %>

      <% end %>
      <%else%>
      <%= link_to "Log out", signout_path, :method => :delete %>

    <%end%>
      </div>


</div>
<div id="container">
  <div id="content">
<%= yield %>
    </div>
</div>

</body>
</html>
